variables:
  IMAGE_VERSION: 1.1
  CARGO_HOME: $CI_PROJECT_DIR/.cargo
  PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/binaries/${CI_COMMIT_TAG}/"
  WINDOWS_AMD64_BINARY: automattermostatus-windows-amd64.exe
  LINUX_AMD64_BINARY: automattermostatus-linux-amd64
  MACOS_AMD64_BINARY: automattermostatus-macos-amd64
    # Enable faster processing of many files in a cache.
  FF_USE_FASTZIP: "true"
  CACHE_COMPRESSION_LEVEL: "fastest"


default:
  image: registry.gitlab.com/matclab/automattermostatus/buildandtest:${IMAGE_VERSION}

stages:
  - build
  - test
  - release

.shared_windows_runners:
  tags:
    - saas-windows-medium-amd64
  image: 


.macos_buildcloud_runners:
  tags:
    - saas-macos-medium-m1
  image: macos-14-xcode-15

cache:
  key: $CI_COMMIT_REF_NAME-$CI_JOB_NAME
  paths:
    - target
    - .cargo

style:
  stage: build
  script:
    - sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   # Remove rusty-hook from dev deps
    - rustc --version
    - cargo version
    - cargo fmt -- --check
    - cargo clippy

build-linux:
  stage: build
  variables:
    RUSTFLAGS: "-D warnings" # Disallow warnings
  script:
    - sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   # Remove rusty-hook from dev deps
    - cargo build --release 
  artifacts:
    paths:
      - target/release/automattermostatus
    expire_in: 7 day

test-linux:
  stage: build
  script:
    - sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   # Remove rusty-hook from dev deps
    - cargo nextest run --profile ci
  artifacts:
    paths:
      - target/nextest/ci/junit.xml
    when: always
    reports:
      junit: target/nextest/ci/junit.xml
    expire_in: 7 day

test-linux-beta:
  stage: build
  script:
    - sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   # Remove rusty-hook from dev deps
    - cargo +beta nextest run --profile ci 
  artifacts:
    paths:
      - target/nextest/ci/junit.xml
    when: always
    reports:
      junit: target/nextest/ci/junit.xml
    expire_in: 7 day

test-linux-nightly:
  stage: build
  script:
    - sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   # Remove rusty-hook from dev deps
    - cargo +nightly nextest run --profile ci
  allow_failure: true
  artifacts:
    paths:
      - target/nextest/ci/junit.xml
    when: always
    reports:
      junit: target/nextest/ci/junit.xml
    expire_in: 7 day

# Not enabled for now
.build-mac:
    stage: build
    extends: .macos_buildcloud_runners
    before_script:
      - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
      - rustup install stable
    script:
        - sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   # Remove rusty-hook from dev deps
        - cargo build --release 
        - cargo test
    artifacts:
      paths:
        - target/release/automattermostatus.exe




wait-upload:
  stage: release
  image: ellerbrock/alpine-bash-curl-ssl
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+.*$/
  script: 
    - bash -x ci/wait-until 'curl -fIsS ${PACKAGE_REGISTRY_URL}${LINUX_AMD64_BINARY}' 1200
    - ci/wait-until 'curl -fIsS ${PACKAGE_REGISTRY_URL}${MACOS_AMD64_BINARY}' 1200
    - ci/wait-until 'curl -fIsS ${PACKAGE_REGISTRY_URL}${WINDOWS_AMD64_BINARY}' 1200

release:
  stage: release
  needs: [wait-upload]
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+.*$/
  script:
    - sed -ne '/^# '${CI_COMMIT_TAG}' .*$/,/^# v[0-9]\+\.[0-9]\+\.[0-9]/p' CHANGELOG.md | head -n-2 > description.txt
  release:
    name: 'Release $CI_COMMIT_TAG'
    description: './description.txt'
    tag_name: '$CI_COMMIT_TAG'                                       # elsewhere in the pipeline.
    ref: '$CI_COMMIT_TAG'
    assets: # Optional, multiple asset links
      links:
        - name: "Linux build : ${LINUX_AMD64_BINARY}"
          url: ${PACKAGE_REGISTRY_URL}${LINUX_AMD64_BINARY}
        - name: "Windows build : ${WINDOWS_AMD64_BINARY}"
          url: ${PACKAGE_REGISTRY_URL}${WINDOWS_AMD64_BINARY}
        - name: 'MacOS build : ${MACOS_AMD64_BINARY}'
          url: ${PACKAGE_REGISTRY_URL}${MACOS_AMD64_BINARY}
        - name: 'Debian package : automattermostatus_${CI_COMMIT_TAG}_amd64.deb'
          url: ${PACKAGE_REGISTRY_URL}automattermostatus_${CI_COMMIT_TAG}_amd64.deb'


package:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+.*$/
  image: registry.gitlab.com/matclab/automattermostatus/package:${IMAGE_VERSION}
  script:
    - cargo deb

### Non used job
#
.upload: # done on github for now
  stage: release
  needs: [build-linux, build-windows]
  dependencies: [build-linux, build-windows]
  image: curlimages/curl:latest
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+.*$/
  script:
    - env
    - echo "$PACKAGE_REGISTRY_URL"
    - cp target/release/automattermostatus ${LINUX_AMD64_BINARY}
    - cp target/release/automattermostatus.exe ${WINDOWS_AMD64_BINARY}
    - 'curl --fail-with-body --user gitlab-uplaod:$GITLAB_PACKAGE_TOKEN --upload-file ${WINDOWS_AMD64_BINARY} ${PACKAGE_REGISTRY_URL}/${WINDOWS_AMD64_BINARY}'
    - 'curl --fail-with-body --user gitlab-uplaod:$GITLAB_PACKAGE_TOKENCI_JOB_TOKEN --upload-file ${LINUX_AMD64_BINARY} ${PACKAGE_REGISTRY_URL}/${LINUX_AMD64_BINARY}'

      
.test-and-build-windows: # done on github for now
  variables:
    RUSTFLAGS: "-D warnings" # Disallow warnings
  stage: build
  extends: .shared_windows_runners
    #rules:  # We don't build for daily CI as it is too long and is cargo checked on github actions anyway
    #- if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+.*$/
  before_script:
    - choco feature enable -n=allowGlobalConfirmation
    - choco install rust MinGW-w64
    - Set-ExecutionPolicy Unrestricted -Scope Process; iex (iwr "https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.ps1").Content
  script:
    - sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   # Remove rusty-hook from dev deps
    - cargo binstall cargo-nextest --secure
    - cargo run nextest --profile ci
    - cargo build --release 
  artifacts:
    paths:
      - target/release/automattermostatus.exe
      - target/nextest/ci/junit.xml
    expire_in: 7 day
    reports:
      junit: target/nextest/ci/junit.xml

#### Not working jobs (for now) 
.code-coverage:
  script:
    - cargo +nightly llvm-cov --no-report nextest
    - cargo +nightly llvm-cov --no-report --doc
    - cargo +nightly  llvm-cov report --doctests #--lcov --output-path lcov.info
  coverage: /^TOTAL.*\s+(\d+\%)[^%]*$/
  interruptible: true

.build-windows:
  image: registry.gitlab.com/matclab/automattermostatus/buildandtestwin:${IMAGE_VERSION}
  stage: build
  variables:
    RUSTFLAGS: "-D warnings" # Disallow warnings
  script:
    - sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   # Remove rusty-hook from dev deps
    - cargo-zigbuild build --release --target x86_64-pc-windows-gnu 
  artifacts:
    paths:
      - target/x86_64-pc-windows-gnu/release/automattermostatus.exe
    expire_in: 7 day


      # Essai de test windows avec wine. Ne marche pas
.test-windows:
  image: registry.gitlab.com/matclab/automattermostatus/buildandtestwin:${IMAGE_VERSION}
  stage: build
  variables:
    CARGO_TARGET_X86_64_PC_WINDOWS_GNU_RUNNER: wine
  script:
    - sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   # Remove rusty-hook from dev deps
    - cargo nextest run --profile ci --target x86_64-pc-windows-gnu
  artifacts:
    paths:
      - target/nextest/ci/junit.xml
    when: always
    reports:
      junit: target/nextest/ci/junit.xml
    expire_in: 7 day
