# Automattermostatus example configuration
#
# Wifi interface name. Use to check that wifi is enabled (Mac and Windows)
interface_name = 'wlp0s20f3'

# Status string containing 3 fields separated by `::`
#  - First field is the wifi substring that should be contained in a visible SSID
#    for this status to be set. If empty the associated status wil be used for
#    off times.
#  - Second field is the emoji string for the custom status.
#  - Third field is the description text foir the custom status.
#
status = ["corporatewifi::corplogo::On premise work",
	  "homenet::house::Working home",
	  "::sleeping::Off time"]

# Base url of the mattermost instanbce
mm_url = 'https://mattermost.example.com'

# Level of verbosity among Off, Error, Warn, Info, Debug, Trace
verbose = 'Info'

# mattermost private access token. It is recommended to use `mm_token_cmd` or
# better the OS keyring with `keyring_user` and `keyring_service`.
# mm_token= 'cieVee1Ohgeixaevo0Oiquiu'

# Command that should be executed to get mattermost private access token (the
# token shall be printed on stdout). See
# https://docs.mattermost.com/integrations/cloud-personal-access-tokens.html#creating-a-personal-access-token.
# It is recommended to use the OS keyring with `keyring_user` and `keyring_service`.
# mm_token_cmd = "secret-tool lookup name automattermostatus"


# *user* and *service* name used to query OS keyring in order to retrieve your
# mattermost private access token.
keyring_user = 'myname'
keyring_service = 'mattermost_token'

# set expiry time for custom mattermost status
expires_at = "19:30"

# set begin and end time of the working period. Outside of this period, custom
# status won't be set.
begin = "8:00"
end = "19:30"

# Definition of the day off (when automattermostatus do not update the user
# custom status). If a day is no present then it is considered as a workday.
# The attributes may be:
# - `EveryWeek`: the day is always off
# - `EvenWeek`: the day is off on even week (iso week number)
# - `OddWeek`: the day is off on odd week (iso week number)
[offdays]
Sat = 'EveryWeek'
Sun = 'EveryWeek'
Wed = 'EvenWeek'
