name: Rust Compilation

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*.*'
  pull_request:

jobs:

  compile:
    name: Compile on linux
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v2
      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@0e66bd3e6b38ec0ad5312288c83e47c143e6b09e
        with:
          toolchain: stable
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install alsa lib
        run: |
          sudo apt-get update 
          sudo apt-get install libasound2-dev libpulse0 pkg-config libdbus-1-dev
      - name: Build | Check
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: "-D warnings" # Disallow warnings
        with:
          command:  build

