name: Rust Tests

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*.*'
  pull_request:

jobs:


  test:
    name: Tests
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macOS-latest
        experimental: [false]
        rust:
          - stable
        include:
          - rust: beta
            os: ubuntu-latest
            experimental: true
          - rust: nightly
            os: ubuntu-latest
            experimental: true
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v2
      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@0e66bd3e6b38ec0ad5312288c83e47c143e6b09e
        with:
          toolchain: ${{ matrix.rust }}
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Deactivate rusty-hook dependencie
        run: sed -ie "/^rusty-hook/s/^/#/" Cargo.toml   
      - name: Install alsa lib on linux
        run: |
          sudo apt-get update 
          sudo apt-get install libasound2-dev libpulse0 pkg-config libdbus-1-dev
        if: matrix.os == 'ubuntu-latest'
#      - name: Install alsa lib on macos
#        run: |
#          brew install alsa-lib
#        if: matrix.os == 'macOS-latest'
      - name: Install latest nextest release
        uses: taiki-e/install-action@nextest
      - name: Test with latest nextest release
        uses: actions-rs/cargo@v1
        with:
          command: nextest
          args: run --profile ci
